[Unit]
Description=HW05 Phoenix Practice

[Service]
Type=simple
User=hw05
Group=hw05
Restart=on-failure
Environment=MIX_ENV=prod
Environment=PORT=4791
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/hw05/hw05/digits
ExecStart=/bin/bash /home/hw05/hw05/digits/start.sh

[Install]
WantedBy=multi-user.target
